.articles {
    margin: 2%;
}

.titre_article {
    background-color: rgb(172, 199, 226);
    margin-bottom: 40px;
    padding: 3% 0 3% 0;
    border-radius: 5px;
    height: 80px;
    display: flex;
    text-decoration: none;
    position: relative;
}

@media screen and (min-width: 640px) {
    .titre_article {
        height: 120px;
        padding: 1% 0 1% 0;
    }
}

.titre_article_image {
    width: 40%;
    display: flex;
}

.titre_article_image_apercu {
    margin: auto;
}

.apercu {
    width: 100px;
    height: 80px;
}

@media screen and (min-width: 640px) {
    .apercu {
        width: 180px;
        height: 120px;
    }
}

.titre_article_title {
    width: 60%;
    font-weight: bold;
    color: black;
    padding-left: 5%;
    font-size: 0.5rem;
}

@media screen and (min-width: 640px) {
    .titre_article_title {
        font-size: 1rem;
    }
}

.container_cercle {
    width: 60px;
    position: relative;
    top: 82%;
    right: 5%;
}

.cercle_supp {
    border-radius: 50%;
    width: 100%;
    padding-bottom: 100%;
    background-color: red;
    position: relative;
}

.icone_supp {
    position: absolute;
    left: 30%;
    top: 30%;
}

.size_icone_supp {
    width: 20px;
}