.body_detail {
    margin-bottom: 10%;
}

.btn_titre {
    width: 90vw;
    height: 15vh;
    background-color: #1D569F;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2%;
}

.btn_titre_logo {
    display: flex;
    margin: auto;
}

.btn_titre_logo_image {}

.btn_titre_logo_fr {
    font-style: italic;
}

.btn_titre_titre {
    display: flex;
}

.btn_titre_titre2 {
    margin: auto;
    height: 5vh;
    font-weight: bold;
    font-size: 0.8rem;
}

@media screen and (min-width: 640px) {
    .btn_titre_titre2 {
        font-size: 1rem;
    }
}

.detail_article {
    width: 90vw;
    border: solid 1px #1D569F;
    margin: 2%;
    padding: 2% 2% 10% 2%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.detail_article_image {
    width: 100%;
    display: flex;
}

.view {
    width: 90%;
    margin: auto;
}

.detail_article_titre {
    display: flex;
}

.detail_article_titre2 {
    margin: auto;
    font-size: 0.5rem;
}

@media screen and (min-width: 640px) {
    .detail_article_titre2 {
        font-size: 1rem;
    }
}

.detail_article_content {
    display: flex;
}

.detail_article_content2 {
    margin: auto;
    font-size: 0.5rem;
}

@media screen and (min-width: 640px) {
    .detail_article_content2 {
        font-size: 1rem;
    }
}

.buttons {
    width: 90vw;
    z-index: 2;
}