.btn_titre_detail {
    padding: 4%;
}

@media screen and (min-width: 640px) {
    .btn_titre_detail {
        padding: 1%;
    }
}

.btn_titre {
    width: 90vw;
    height: 15vh;
    background-color: #1D569F;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-decoration: none;
}

@media screen and (min-width: 640px) {
    .btn_titre {
        height: 10vh;
    }
}

.btn_titre_logo {
    display: flex;
    margin: auto;
}

.btn_titre_logo_image {}

.btn_titre_logo_fr {
    font-style: italic;
}

.btn_titre_titre {
    display: flex;
}

.btn_titre_titre2 {
    margin: auto;
    height: 5vh;
    font-weight: bold;
    font-size: 0.8rem;
}

@media screen and (min-width: 640px) {
    .btn_titre_titre2 {
        height: 3vh;
        font-size: 1rem;
    }
}

.detail_body_article {
    padding: 5% 0;
}

@media screen and (min-width: 640px) {
    .detail_body_article {
        padding: 1% 0;
    }
}

.detail_article {
    width: 85vw;
    border: solid 1px #1D569F;
    margin: 0 auto;
    padding: 2% 2% 10% 2%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media screen and (min-width: 640px) {
    .detail_article {
        height: 30vh;
        flex-direction: row;
    }
}

.detail_article_image {
    width: 100%;
    display: flex;
}

@media screen and (min-width: 640px) {
    .detail_article_image {
        width: 250%;
    }
}

.view {
    width: 90%;
    margin: auto;
}

.detail_article_texte {
    padding: 0 5%;
    margin: auto;
}

.detail_article_titre {
    display: flex;
}

.detail_article_titre2 {
    margin: auto;
    font-size: 0.5rem;
}

@media screen and (min-width: 640px) {
    .detail_article_titre2 {
        font-size: 1rem;
    }
}

.detail_article_content {
    display: flex;
}

.detail_article_content2 {
    margin: auto;
    font-size: 0.5rem;
}

@media screen and (min-width: 640px) {
    .detail_article_content2 {
        font-size: 1rem;
    }
}

.btns {
    position: absolute;
    top: 90%;
    left: -1%;
    width: 90vw;
    height: 50px;
    display: flex;
}

@media screen and (min-width: 640px) {
    .btns {
        top: 95%;
    }
}

.btns_base {
    width: 25%;
    display: flex;
}

.btns-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btns-img {
    width: 50px;
}

@media screen and (min-width: 640px) {
    .btns-img {
        width: 75px;
    }
}

.btns-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btns-3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}