.footer {
    height: 10vh;
    background-color: #1D569F;
    display: flex;
}

.choice {
    width: 25vw;
    display: flex;
    text-decoration: none;
}

.btn_choice {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.size_btn_choice {
    width: 30px;
    color: white;
    padding-left: 16%;
}

.title_btn_choice {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}